<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- <title>Hello, world!</title> -->
</head>

<body>
    <div id="app" class="container">
        <h1>Datavalid Demonstracao</h1>

        <label for="foto">
            <img v-show="body.answer.biometria_face" id="foto" src="#" alt="your image" class="mt-3 form-control" />
            <input type="file" id="arquivo" accept="image/x-png,image/gif,image/jpeg" @change="readImage"
                class="mt-3" />
        </label>
        <br />
        <label for="cpf" class="mt-3">
            CPF:
            <input v-model="body.key.cpf" id="cpf" type="text" class="form-control"
                @keypress="applyMasc($event, '000.000.000-00')" />
        </label>
        <br />
        <label for="nome" class="mt-3">
            Nome:
            <input id="nome" type="text" class="form-control" v-model="body.answer.nome" />
        </label>

        <br />
        <label for="dataNascimento" class="mt-3">
            Data Nascimento:
            <input id="dataNascimento" type="date" class="form-control" v-model="body.answer.data_nascimento" />
        </label>

        <br />

        <button class="mt-3" id="verificar" @click="sendRequest">Verificar</button>
        <br />

        <div class="spinner-border mt-3" role="status" v-if="!processado && isLoading">
            <span class="sr-only">Loading...</span>
        </div>

        <textarea class="mt-3" id="retorno" v-if="processado" style="min-width: 100%" v-model="retorno" rows="20">
        </textarea>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                refCount: 0,
                isLoading: false,
                processado: false,
                retorno: "",
                body: {
                    key: {
                        cpf: "33840981026"
                    },
                    answer: {
                        nome: "Maria Barbosa",
                        nacionalidade: 1,
                        data_nascimento: "2001-01-01",
                        situacao_cpf: "regular",
                        biometria_face: null,
                        // sexo: "F",
                        /* filiacao: { "nome_mae": "Maria José", "nome_pai": "José Maria" },
                        documento: {
                              tipo: 1,
                              numero: "000001",
                              orgao_expedidor: "SSP",
                              uf_expedidor: "DF"
                          },
                          endereco: {
                              logradouro: "Nome do Logradouro",
                              numero: "0007",
                              complemento: "APTO 2015",
                              bairro: "Nome do Bairro",
                              cep: "0000001",
                              municipio: "Nome do municipio",
                              uf: "DF"
                          },
                          cnh: {
                              categoria: "AB",
                              numero_registro: "0000001",
                              data_primeira_habilitacao: "2000-10-31",
                              data_validade: "2005-12-10",
                              registro_nacional_estrangeiro: "123456",
                              data_ultima_emissao: "2000-10-01",
                              codigo_situacao: 3
                          },*/
                    },
                },
                errors: [],
                resposeBody: "",
            },
            methods: {
                readImage: function (input) {
                    if (event.target.files && input.target.files[0]) {
                        var reader = new FileReader();
                        reader.readAsDataURL(input.target.files[0]);
                        reader.onload = e => {
                            $("#foto").attr("src", e.target.result).width(150).height(200);
                            let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
                            if ((encoded.length % 4) > 0) {
                                encoded += '='.repeat(4 - (encoded.length % 4));
                            }
                            this.body.answer.biometria_face = encoded;
                        };
                    }
                },
                sendRequest: function (event) {
                    const options = {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json",
                            Authorization: "Bearer  4e1a1858bdd584fdc077fb7d80f39283",
                            accept: "application/json"
                        },
                        data: JSON.stringify(this.body),
                        url: "https://apigateway.serpro.gov.br/datavalid-demonstracao/v2/validate/pf-face",
                    };

                    this.isLoading = true;
                    axios(options)
                        .then((response) => {
                            console.log(response);
                            this.processado = true;
                            this.retorno = JSON.stringify(response.data, null, 2);
                            this.isLoading = false;
                        }).catch((e) => {
                            if (e.response) {
                                this.processado = true;
                                this.retorno = JSON.stringify(e.response.data, null, 2);
                                this.isLoading = false;
                            }
                        });
                },
                applyMasc: function (event, mask) {
                    $(event.target).mask(mask);
                }
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</body>

</html>